.container {
    margin: 20px auto;
    width: 800px;
    padding: 10px;
      
}
.userProfile {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    width: 714px;
    margin-bottom: 0;
    padding: 5px;
}
.avatar {
    border-radius: 50%;
    
}
.stats {
    display: flex;
    border: 1px solid black;
    border-top: none;
    margin-top: 0;
    width: 714px;
    justify-content: space-between;
    align-items: center;
}
.statsItem {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: grey;
}